
.loadApplication-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loadApplication-logo {
    animation: signup-logo-spin infinite 20s linear;
  }
}

.loadApplication-header {
  background-color: #e9ecef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 1.9%;
  padding-bottom: 6.9%;
}

.loadApplication-link {
  color: #61dafb;
}

@keyframes loadApplication-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scroll-loadApplications{
  max-height: 80vh;
overflow: scroll;
}