.signup {
  text-align: center;
  margin: auto;
  padding: auto;
}

.signup-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .signup-logo {
    animation: signup-logo-spin infinite 20s linear;
  }
}

.project-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 1.9%;
  padding-bottom: 6.9%;
}

.signup-link {
  color: #61dafb;
}

@keyframes signup-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
