.signup {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: auto;
}

.signup-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .signup-logo {
    animation: signup-logo-spin infinite 20s linear;
  }
}

.fileupload{
  margin-left: 5%;
  margin-right: 5%;
}

.signup-right{
  text-align: center;
  top: 20%;
  right: 0;
  width: 80%;
  float: right;
  min-height: 122.5vh;
  margin-top: 4%;
  background-color: #e9ecef;
  padding-top: 3%;
}

.project-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 6.9%;
  padding-bottom: 6.9%;
}

.signup-link {
  color: #61dafb;
}

@keyframes signup-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
