.bugtracker {
  text-align: center;
  background-color: #e9ecef;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
  padding: auto;
}

.deleteBug{
  margin-left: 40%;
  margin-right: 40%;
}

.bugCard{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.bug-padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  overflow-y: auto;
}

.bugtracker-right {
  text-align: center;
  top: 6.9%;
  right: 0;
  background-color: #e9ecef;
  width: 80%;
  float: right;
  overflow: scroll;
}

.bugtracker-header {
  background-color: #282c34;
  //min-height: 80vh;
  width: auto;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
