.profile {
  text-align: center;
  background-color: #e9ecef;
  width: 100%;
  overflow: hidden;
}

.profile-left {
  text-align: center;
  position: fixed;
  top: 6.9%;
  left: 0;
  background-color: #e9ecef;
  width: 20%;
  float: left;
}

.profile-right {
  text-align: left;
  top: 20%;
  right: 0;
  background-color: white;
  width: 80%;
  float: right;
}

.profile-header {
  background-color: #282c34;
  width: auto;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.profile-white {
  background-color:white;
}
.updateButton{
text-align: center;
width: 100%;
}
.profile-margin-increase-top {
  margin-top: 5%;
  margin-bottom: 5%;
}
.profile-margin-top {
  margin-top: 5%;
  
}
.div-border {
  border-style: ridge;
}
.text-center {
  text-align: center;
}