.billingAdmin {
  text-align: center;
  background-color: #e9ecef;
  width: 100%;
  overflow: hidden;
}

.billingAdmin-dropdown{
  padding-top: 6.9%;
  padding-bottom: 2.9%;
}

.billingAdmin-box{
  background-color: #c7c8c9;
  color: #000000;
  margin: 4%;
}

.billingAdmin-box-item{
  padding-left: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #000000;
}

.billingAdmin-left {
  text-align: center;
  position: fixed;
  top: 6.9%;
  left: 0;
  background-color: #e9ecef;
  width: 20%;
  float: left;
}

.billingAdmin-right {
  text-align: center;
  position: fixed;
  top: 6.9%;
  right: 0;
  background-color: #e9ecef;
  width: 80%;
  float: right;
}

.billingAdmin-header {
  background-color: #282c34;
  //min-height: 80vh;
  width: auto;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
