.billingManager {
  text-align: center;
  background-color: #e9ecef;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: auto;
}

.billingManager-dropdown{
  padding-top: 6.9%;
  padding-bottom: 2.9%;
}

.billingManager-box{
  background-color: #c7c8c9;
  color: #000000;
  margin-left: 16%;
  margin-right: 10%;
  margin-top: 1%
}

.billingManager-box-item{
  padding-left: 5%;
  color: #000000;
}

.billingManager-left {
  text-align: center;
  position: fixed;
  top: 6.9%;
  left: 0;
  background-color: #e9ecef;
  width: 20%;
  float: left;
  min-height: 100%;
}

.billingManager-right {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  top: 6.9%;
  right: 0;
  background-color: #e9ecef;
  width: 80%;
  float: right;
  overflow: scroll;
  min-height: 115vh;
}

.billingManager-header {
  background-color: #282c34;
  //min-height: 80vh;
  width: auto;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.billingManager-select{
  margin-top: 4%;
  margin-bottom: 4%;
}
.billingManager-marginBottom{
  margin-bottom: 2%;
}

.billingManager-marginTop{
  margin-top: 1%;
}
.scroll-billingManager{
  max-height: 95vh;
overflow: scroll;
}
