.projectApplication {
  text-align: center;
  margin: auto;
  padding: auto;
}

.ProjectApplicationsDiv{
  padding-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 129.5vh;
}
.navtabstopthing{
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 1%;
  border-radius: 1px;
}

.projectApplication-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  padding-top: 6.9%;
  padding-bottom: 6.9%;
}
.scroll-projectApplication{
  max-height: 120vh;
  overflow-y: scroll;
}
.projectApplication-card{
  width:70%;
  margin-top: '2%';
  margin-left:'3%';
  margin-right:'13%';
  color: 'black';
  font-size: '15px';
  overflow-y: auto;
}
