.notif-width-100{
    text-align: center;
    width: 100%;
}
.notif-margin-top-5{
  
    margin-top: 5%;
}
.notif-margin-bottom-5{
  
    margin-bottom: 2%;
}
.notif-margin-top-15{
  
    margin-top: 15%;
}
.scroll{
    max-height: 600px;
  overflow: scroll;
}

.scrollBig{
    max-height: 650px;
  overflow: scroll;
}